<%= form_for @provider, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } do |f| %>
<% if request.path == new_provider_path %>
<h1>Cadastre-se como <%= current_user.status %></h1>
<h4>Etapa 3 de 3</h4>
<h3 class="headlogin">Dados da empresa</h3>
<% end %>
<section class="col-sm-12 col-md-6">

<%= f.fields_for :enterprise do |enterprise_fields| %>
     <div class="form-group">
    <%= enterprise_fields.label t('company'), class: 'control-label' %>
    <div class="col-md-12">
    <%= enterprise_fields.text_field :company, class: 'text_field form-control' %>
  </div>
  </div>

  <div class="form-group">
    <%= enterprise_fields.label t('social'), class: 'control-label' %>
    <div class="col-md-12">
      <%= enterprise_fields.text_field :social, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= enterprise_fields.label t('cnpj'), class: 'control-label' %>
    <div class="col-md-12">
    <%= enterprise_fields.text_field :cnpj, class: 'text_field form-control' %>
  </div>
  </div>
    <% end %>
 </section>

<section class="col-sm-12 col-md-6">

  <div class="form-group" id="accordion">
  <div class="col-md-12">
      <label class='control-label'>Categoria</label>
      <%= hidden_field_tag 'provider[subcategory_ids][]', nil %>
        <% $cid = 0 %>
        <% Category.all.each do |category| %>
          <% $cid = $cid + 1 %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= $cid %>"><%= category.name %></a>
              </h4>
            </div>
            <div id="collapse<%= $cid %>" class="panel-collapse collapse out">
              <div class="panel-body">
                <% Subcategory.where(category_id: category.id).each do |subcategory| %>
                  <div class="subcategory col-md-6">
                  <%= check_box_tag 'provider[subcategory_ids][]', subcategory.id, @provider.subcategory_ids.include?(subcategory.id), id: dom_id(subcategory) %>
                  <%= label_tag dom_id(subcategory), subcategory.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
  </div>      
  </div>

  </section>
  <div class="form-group">
    <div class='col-md-offset-3 col-md-6'>
      <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>