<%= form_for @profile, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } do |f| %>
<h1>Cadastre-se como <%= current_user.status %></h1>
<h4>Etapa 1 de 3</h4>
<h3>Dados do responsável</h3>
<section class="col-sm-12 col-md-6">
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="col-md-12">
      <%= f.text_field :name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="col-md-12">
      <%= f.text_field :email, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cpf, class: 'control-label' %>
    <div class="col-md-12">
      <%= f.text_field :cpf, class: 'text_field form-control' %>
    </div>
  </div>
</section>

<section class="col-sm-12 col-md-6">
  <div class="form-group">
    <%= f.label :phone, class: 'control-label' %>
    <div class="col-md-12">
      <%= f.text_field :phone, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cellphone, class: 'control-label' %>
    <div class="col-md-12">
      <%= f.text_field :cellphone, class: 'text_field form-control' %>
    </div>
  </div>
</section>



      <%= f.hidden_field :user_id, value: current_user.id, class: 'text_field form-control' %>



  <div class="form-group">
    <div class='col-md-offset-3 col-md-6'>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
