<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @profile.cpf %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @profile.cellphone %>
</p>

<p>
  <strong>Street:</strong>
  <%= @profile.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @profile.number %>
</p>

<p>
  <strong>Compl:</strong>
  <%= @profile.compl %>
</p>

<p>
  <strong>Neighbor:</strong>
  <%= @profile.neighbor %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company %>
</p>

<p>
  <strong>Social:</strong>
  <%= @profile.social %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @profile.cnpj %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
