<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<div class="col-md-5">
<h1 class="pull-right" style="width:100px; height:100px; padding-top:15px; color:grey; font-size:55px; font-variant: all-small-caps; border: 1px solid grey; -webkit-border-radius:50%; -mos-border-radius:50%; -ms-border-radius:50%; border-radius:50%; font-weight:bold">
 <%= @profile.name.split.map(&:first).join %>
</h1>
</div>
<div class="col-md-7">
 <h1>
   <%= @mytype.enterprise.social %>
 </h1>
</div>

<aside class="col-md-12">
  <%= form_for @profile, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } do |f| %>
  <% if request.path == new_profile_path %>
  <h1>Cadastre-se como <%= current_user.status %></h1>
  <h4>Etapa 1 de 3</h4>
  <h3 class="headlogin">Dados do responsável</h3>
  <% end %>
  <section class="col-sm-12 col-md-6">
    <div class="form-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="col-md-12">
        <%= f.text_field :name, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="col-md-12">
        <%= f.text_field :email, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cpf, class: 'control-label' %>
      <div class="col-md-12">
        <%= f.text_field :cpf, class: 'text_field form-control' %>
      </div>
    </div>
  </section>

  <section class="col-sm-12 col-md-6">
    <div class="form-group">
      <%= f.label :phone, class: 'control-label' %>
      <div class="col-md-12">
        <%= f.text_field :phone, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cellphone, class: 'control-label' %>
      <div class="col-md-12">
        <%= f.text_field :cellphone, class: 'text_field form-control' %>
      </div>
    </div>
  </section>


    <div class="form-group">
      <div class='col-md-offset-3 col-md-6'>
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
</aside>




<div class="fieldset col-md-12">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:id) %></dt>
      <dd><pre class="prettyprint"><%= @profile.id %></pre></dd>
      <h1><%= current_user.profile.id %></h1>
      <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
      <dd><pre class="prettyprint"><%= @profile.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:email) %></dt>
      <dd><pre class="prettyprint"><%= @profile.email %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:cpf) %></dt>
      <dd><pre class="prettyprint"><%= @profile.cpf %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:phone) %></dt>
      <dd><pre class="prettyprint"><%= @profile.phone %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:cellphone) %></dt>
      <dd><pre class="prettyprint"><%= @profile.cellphone %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:street) %></dt>
      <dd><pre class="prettyprint"><%= @profile.street %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:number) %></dt>
      <dd><pre class="prettyprint"><%= @profile.number %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:compl) %></dt>
      <dd><pre class="prettyprint"><%= @profile.compl %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:neighbor) %></dt>
      <dd><pre class="prettyprint"><%= @profile.neighbor %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:city) %></dt>
      <dd><pre class="prettyprint"><%= @profile.city %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:country) %></dt>
      <dd><pre class="prettyprint"><%= @profile.country %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:company) %></dt>
      <dd><pre class="prettyprint"><%= @profile.company %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:social) %></dt>
      <dd><pre class="prettyprint"><%= @profile.social %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:cnpj) %></dt>
      <dd><pre class="prettyprint"><%= @profile.cnpj %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:user_id) %></dt>
      <dd><pre class="prettyprint"><%= @profile.user_id %></pre></dd>
      <h1><%= current_user.id %></h1>
      <dt class="label label-default"><%= model_class.human_attribute_name(:profileable_type) %></dt>
      <dd><pre class="prettyprint"><%= @profile.profileable_type %></pre></dd>
      <h1><%= current_user.profile.profileable_type %></h1>
      <dt class="label label-default"><%= model_class.human_attribute_name(:profileable_id) %></dt>
      <dd><pre class="prettyprint"><%= @profile.profileable_id %></pre></dd>
      <h1><%= current_user.profile.profileable_id %></h1>
      <dt class="label label-default"><%= model_class.human_attribute_name(:indcategory) %></dt>
      <dd><pre class="prettyprint"><% if @profile.profileable_type == "industry" %><%= @type_options_for_select.name if @type_options_for_select %><% elsif @profile.profileable_type == "provider" %><% @type_options_for_select.each do |ty| %><%= ty.name %><br/><% end %><% end %></pre></dd>

  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              profiles_path, class: 'btn btn-default'  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_profile_path(@profile), class: 'btn btn-default' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              profile_path(@profile),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>