


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "col-md-4 col-sm-12 col-md-offset-4"}) do |f| %>
  <%= devise_error_messages! %>


  <h3>CRIAR UMA CONTA</h3>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'control-label col-xs-12', autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'control-label col-xs-12', autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'control-label col-xs-12', autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <hr/>
    Escolha uma categoria para se cadastrar<br/>em nossa plataforma.<br/><br/>

    <%= f.radio_button :status, 'provider' %> <small>Quero trabalhar como <strong>prestador de serviços para a indústria</strong></small><br />
    <%= f.radio_button :status, 'industry' %> <small>Sou uma indústria e quero <strong>contratar um serviço de um prestador</strong></small><br />&nbsp;
  </div>

  <div class="">
    <%= f.submit "Continuar", class: 'btn btn-primary' %>
  </div>
<% end %>
