<%= form_with(model: indcat, local: true) do |form| %>
  <% if indcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indcat.errors.count, "error") %> prohibited this indcat from being saved:</h2>

      <ul>
      <% indcat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :industry_id %>
    <%= form.text_field :industry_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
