<p id="notice"><%= notice %></p>

<h1>Indcats</h1>

<table>
  <thead>
    <tr>
      <th>Industry</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indcats.each do |indcat| %>
      <tr>
        <td><%= indcat.industry %></td>
        <td><%= indcat.category %></td>
        <td><%= link_to 'Show', indcat %></td>
        <td><%= link_to 'Edit', edit_indcat_path(indcat) %></td>
        <td><%= link_to 'Destroy', indcat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indcat', new_indcat_path %>
