<%= form_for @industry, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } do |f| %>
<% if request.path == new_industry_path %>
<h1>Cadastre-se como <%= current_user.status %></h1>
<h4>Etapa 3 de 3</h4>
<h3 class="headlogin">Dados da empresa</h3>
<% end %>
<section class="col-sm-12 col-md-6">
<%= f.fields_for :enterprise do |enterprise_fields| %>

     <div class="form-group">
    <%= enterprise_fields.label :company, class: 'control-label' %>
    <div class="col-md-12">
    <%= enterprise_fields.text_field :company, class: 'text_field form-control' %>
  </div>
  </div>

  <div class="form-group">
    <%= enterprise_fields.label :social, class: 'control-label' %>
    <div class="col-md-12">
    <%= enterprise_fields.text_field :social, class: 'text_field form-control' %>
  </div>
  </div>

  <div class="form-group">
    <%= enterprise_fields.label :cnpj, class: 'control-label' %>
    <div class="col-md-12">
    <%= enterprise_fields.text_field :cnpj, class: 'text_field form-control' %>
  </div>
  </div>
  </section>

<section class="col-sm-12 col-md-6">


    <% end %>
    <div class="form-group">
   <%= f.label :category_id, class: 'control-label' %>
    <div class="col-md-12">
  <%= f.collection_select(:category_id, @category_options_for_select, :id, :name, prompt: true) %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :team, class: 'control-label' %>
    <div class="col-md-12">
      <%= f.text_field :team, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :technic, class: 'control-label' %><br />
    <div class="col-md-12">
    <div class="col-md-6">
    <%= f.label :technic, "Sim", :value => "true"  %>
    <%= f.radio_button :technic, true %>
    </div>
    <div class="col-md-6">
    <%= f.label :technic, "Não", :value => "false" %>
    <%= f.radio_button :technic, false, :checked => true %>
    </div>
    </div>
  </div>
</section>


  <div class="form-group">
    <div class='col-md-offset-3 col-md-6'>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

