<%= form_for @project, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :end, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subcategory_id, class: 'control-label col-md-2' %>
    <div class="col-md-12">
      <%= f.collection_select(:subcategory_id, @subcategory_options_for_select, :id, :name, prompt: true) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :visibility, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :visibility, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mincost, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mincost, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :maxcost, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :maxcost, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :has_dependency, class: 'control-label' %><br />
    <div class="col-md-12">
    <div class="col-md-6">
    <%= f.label :has_dependency, "Sim", :value => "true"  %>
    <%= f.radio_button :has_dependency, true %>
    </div>
    <div class="col-md-6">
    <%= f.label :has_dependency, "Não", :value => "false" %>
    <%= f.radio_button :has_dependency, false, :checked => true %>
    </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dependency_id, class: 'control-label col-md-2' %>
    <div class="col-md-12">
      <%= f.collection_select(:dependency_id, @subcategory_options_for_select, :id, :name, prompt: true) %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  projects_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
