<%= form_for @project, remote: true, html: { class: 'form-horizontal' } do |f| %>
  <section id="proj1">
    <h4><%= f.label :name %></h4>
  <div class="form-group">
    <div class="col-md-12">
      <%= f.text_field :name, class: 'text_field form-control', placeholder: "Nome do projeto"  %>
    </div>
  </div>
    <h4><%= f.label :subcategory_id %></h4>
  <div class="form-group">
    <div class="col-md-12">
      <%= f.collection_select(:subcategory_id, @subcategory_options_for_select, :id, :name, prompt: true) %>
    </div>
  </div>
  <div class='col-md-12'>
      <a id="proj1b" class='btn btn-primary'>Próximo</a>
  </div>
  <br/>
  <br/>
  </section>
  <section id="proj2" style="display:none">
  <div class="form-group">
    <h4><%= f.label :description %></h4>
    <div class="col-md-10">
      <%= f.text_area(:description, rows: 5, class: "col-md-12") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :end, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :visibility, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :visibility, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mincost, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mincost, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :maxcost, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :maxcost, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :has_dependency, class: 'control-label' %><br />
    <div class="col-md-12">
    <div class="col-md-6">
    <%= f.label :has_dependency, "Sim", :value => "true"  %>
    <%= f.radio_button :has_dependency, true %>
    </div>
    <div class="col-md-6">
    <%= f.label :has_dependency, "Não", :value => "false" %>
    <%= f.radio_button :has_dependency, false, :checked => true %>
    </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dependency_id, class: 'control-label col-md-2' %>
    <div class="col-md-12">
      <%= f.collection_select(:dependency_id, @subcategory_options_for_select, :id, :name, prompt: true) %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-12'>
      <%= f.submit nil, class: 'btn btn-primary', remote: true %>
    </div>
  </div>
  </section>
<% end %>

<script>
$( "#proj1b" ).click(function() {
  $( "#proj1" ).toggle();
  $( "#proj2" ).toggle();
});
$( "#proj2b" ).click(function() {
  $( "#proj2" ).toggle();
  $( "#proj3" ).toggle();
});
</script>
