<%- model_class = Project -%>
<section class="col-md-12 col-lg-12">
  <section class="col-md-8 col-sm-12 box-in">
  <h4><%= model_class.human_attribute_name(:name) %></h4>
  <h2><%= @project.name %></h2>
  <%= @project.created_at %> | Postado por <%= @industry.enterprise.social %>
  <br/>
  <br/>
  <br/>
  <h4><%= model_class.human_attribute_name(:description) %></h4>
  <br/>
  <%= @project.description %>
  <br/>
  <br/>
  <h4>anexos</h4>
  --
  <!--<%= model_class.human_attribute_name(:end) %>
        <%= @project.end %>
  <%= model_class.human_attribute_name(:industry_id) %>
        <%= @project.industry_id %>
  <%= model_class.human_attribute_name(:maxcost) %>
        <%= @project.maxcost %>//-->
  </section>
   

   <aside class="col-md-4 col-sm-12">
   <div class="col-sm-12 box-in box-mini">
     <h4>informações</h4>
     <br/>
     <br/>
     <table style="color:blue; width:100%">
       <tr>
         <td style="width:50%"><%= model_class.human_attribute_name(:category_id) %></td>
         <td style="width:50%"><%= @project.category_id %></td>
       </tr>
       <tr>
         <td><%= model_class.human_attribute_name(:subcategory_id) %></td>
         <td><%= @project.subcategory_id %></td>
       </tr>
       <tr>
         <td><%= model_class.human_attribute_name(:mincost) %></td>
         <td><%= @project.mincost %></td>
       </tr>
       <tr>
         <td><%= model_class.human_attribute_name(:visibility) %></td>
         <td><%= @project.visibility %></td>
       </tr>
       <tr>
         <td>Propostas</td>
         <td>--</td>
       </tr>
     </table>
   </div>

   <% if current_user.status == "industry" %>
     <a href="#" class="btn btn-primary btn-lateral col-md-6 col-sm-12">finalizar projeto</a>
   <% elsif current_user.status == "provider" %>
     <% if @projectp == false %>
         <button type="button" id="btnPropose" class="btn btn-primary modal-btn btn-lateral col-md-4 col-sm-12" style="margin-top: 0px !important;" data-toggle="modal" data-target="#modal"><span>Proposta</span></button>
     <% else %>
         <button type="button" id="btnPropose" class="btn btn-primary modal-btn btn-lateral col-md-4 col-sm-12" style="margin-top: 0px !important;" data-toggle="modal" data-target="#modal"><span>Editar<span></button>
         
     <% end %>
   

   <% end %>
   <a href="#" class="btn btn-primary btn-lateral col-md-4 col-sm-12 pull-right">mensagem</a>
   </aside>





</section>
<% if current_user.status == "industry" %>
  <section class="col-md-12 col-lg-12" style="padding-top:20px;">
   <div class="col-md-12 col-lg-12 box-propose">
  <section class="box-in" style="border:0px;"><h2>Propostas</h2></section>
   <% @project.proposes.each do |p|%>
     <% @prov = p.provider_id %>
     <% @provprof = @allprofile.detect{|w| w.id == @prov} %>
     <% @provider = @allprovider.detect{|w| w.id == @prov} %>
     <aside class="col-md-6"><div></div><strong><%= @provider.enterprise.company %></strong> - <%= link_to "Ver perfil", profile_path(@provprof.id) %><br/>
     <%= p.description %></aside>
     <aside class="col-md-4" style="text-align:center">
      p.value
     </aside>
     <aside class="col-md-2">
     <% if p.status == "approved" %>
       <span>Aceito<span>
     <% else %>
       <%= link_to "Aceitar", approved_propose_path(id: p.id), class:"btn btn-primary btn-lateral pull-right" %>
     <% end %>
     </aside>
   <% end %>
   </div>
  </section>
<% end %>
  <!--<div class="form-group">
    <%= link_to t('.back', default: t("helpers.links.back")),
                projects_path, class: 'btn btn-default'  %>
    <%= link_to t('.edit', default: t("helpers.links.edit")),
                edit_project_path(@project), class: 'btn btn-default' %>
    <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                project_path(@project),
                method: 'delete',
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                class: 'btn btn-danger' %>
  </div>//-->