<%= form_for @speech, :html => {:class => 'col-sm-9 pull-right', :style => "padding:20px 0px; height:100px"}, remote: true do |form| %>
  <% if speech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speech.errors.count, "error") %> prohibited this speech from being saved:</h2>

      <ul>
      <% speech.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="messageSpeech">
    <%= form.hidden_field :profile_id, value: current_user.profile.id %>

    <%= form.hidden_field :propose_id, value: @dialog.propose_id %>

    <%= form.hidden_field :project_id, value: @dialog.project_id %>

    <%= form.hidden_field :dialog_id, value: @dialog.id %>

    <%= form.hidden_field :status, value: current_user.status.to_s %>

    <%= form.text_area :message, id:"chatbox", class:"col-md-12", style:"border:1px solid grey; overflow: auto;" %>
  </div>

  <div class="actions" id="submitSpeech">
    <%= form.submit %>
  </div>
<% end %>
<script>
$( "#chatbox" ).keypress(function( event ) {
  if ( event.which == 13 ) {
     jQuery('#new_speech').submit(function(){
      var dados = jQuery( this ).serialize();

      jQuery.ajax({
        type: "POST",
        url: "/speeches",
        data: dados,
        success: function( data )
        {
          alert( data );
        }
      });
      
      return false;
    });

  }
});

</script>

