<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @speech.profile %>
</p>

<p>
  <strong>Propose:</strong>
  <%= @speech.propose %>
</p>

<p>
  <strong>Projec:</strong>
  <%= @speech.projec %>
</p>

<p>
  <strong>Message:</strong>
  <%= @speech.message %>
</p>

<%= link_to 'Edit', edit_speech_path(@speech) %> |
<%= link_to 'Back', speeches_path %>
