
<div class="field">
    <%= f.label :profile_id %>
    <%= f.text_field :profile_id, value: @dialog.profile_id %>
  </div>

  <div class="field">
    <%= f.label :propose_id %>
    <%= f.text_field :propose_id, value: @dialog.propose_id %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.text_field :project_id, value: @dialog.project_id %>
  </div>

  <div class="field">
    <%= f.label :dialog_id %>
    <%= f.text_field :dialog_id, value: @dialog.id %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>