<p id="notice"><%= notice %></p>
<style>
.speech{font-size:11px; font-weight:bold; padding:5px; border:0px solid grey; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; border-radius:10px; margin:1px 20px 1px 1px; width:auto; clear:both;}
<%= ".style_#{current_user.profile.id}" %>{background: lightskyblue; border:0px; margin:1px 1px 1px 20px; float: right !important; text-align:right !important;}</style>

      <% session[:dialog] = @dialog.id %>

<% if current_user.status == "provider" %>
<section class="">
	<ul class="col-md-3 box-in">
	  <li class="" style="list-style-type: none; border-bottm:1px solid grey;">
		  Nome da Indústria
	  </li>
	</ul>
  <aside id="chat" class="col-md-9 box-in" style="padding: 5px 0px 5px 15px;">
<% end %>

<aside id="showSpeech" style="height:250px; overflow: auto; display:block">
  <% @dialog.speeches.each do |s| %>
    <h6 class="speech style_<%= s.profile_id %>">
      <%= s.message %>
    </h6>
    <div class="col-sm-12" style="display:block"></div>
  <% end %>
</aside>
<span></span>

<div id="speechMessage"></div>
<% if current_user.status == "provider" %>
    </aside>
  </section>
<% end %>

<script type="text/javascript">
  $("#chat").appendHTML("<%= new_speech_path() %>");
  	var objDiv = document.getElementById("showSpeech");
     objDiv.scrollTop = objDiv.scrollHeight;
  setInterval(function(){ 
  	$("#showSpeech").appendHTML("/dialogs-speeches");
  	 }, 500);
  
</script>



