<p id="notice"><%= notice %></p>
<style>
.speech{font-size:11px; padding:5px; border:1px solid grey; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; border-radius:10px; margin:1px auto 1px 1px; width:auto;}
<%= ".style_#{current_user.profile.id}" %>{background: lightskyblue;  margin:1px 1px 1px auto; float: right !important; text-align:right !important;}</style>

      <% session[:dialog] = @dialog.id %>

<% if current_user.status == "provider" %>
<section class="">
	<ul class="col-md-3 box-in">
	  <li class="" style="list-style-type: none; border-bottm:1px solid grey;">
		  Nome da Indústria
	  </li>
	</ul>
  <aside id="chat" class="col-md-9 box-in">
<% end %>

<aside id="showSpeech" style="height:250px; overflow: hidden; display:block">
  <% @dialog.speeches.each do |s| %>
    <p class="speech style_<%= s.profile_id %>"><br/>
      <%= s.message %>
    </p>
  <% end %>
</aside>
<span></span>

<% if current_user.status == "provider" %>
    </aside>
  </section>
<% end %>

<div id="speechMessage"></div>
<script type="text/javascript">
  $("#speechMessage").load("<%= new_speech_path() %>");
  setInterval(function(){ 
  	$("#showSpeech").appendHTML("/dialogs-speeches");
  	var objDiv = document.getElementById("showSpeech");
     objDiv.scrollTop = objDiv.scrollHeight;
  	 }, 500);
  
</script>



