<p id="notice"><%= notice %></p>
<style><%= ".style_#{current_user.profile.id}" %>{float: right !important; text-align:right !important;}</style>

      <% session[:dialog] = @dialog.id %>
<aside id="showSpeech">
  <% @dialog.speeches.each do |s| %>
    <p class="col-sm-10 style_<%= s.profile_id %>">
      <%= s.message %>
    </p>
  <% end %>
</aside>




<div id="speechMessage"></div>
<script type="text/javascript">
  $("#speechMessage").load("<%= new_speech_path() %>");
  setInterval(function(){ $("#showSpeech").append("/dialogs-speeches"); }, 500);
  
</script>



