<% @lastspeech = 0 %>
<p id="notice"><%= notice %></p>
<style><%= ".style_#{current_user.profile.id}" %>{float: right !important; text-align:right !important;}</style>
<aside id="showSpeech">
  <% @dialog.speeches.each do |s| %>
    <p class="col-sm-10 style_<%= s.profile_id %>">
      <%= s.message %>
      <% @lastspeech = s.id %>
    </p>
  <% end %>
 
</aside>

      <% session[:dialog] = @dialog.id %>

<div id="speechMessage"></div>
<script type="text/javascript">
 $("#speechMessage").load("<%= new_speech_path() %>");
setInterval(function(){ 
    alert("teste");
}, 5000);
</script>



