<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= viewport_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : "Pronto001" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", media: "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
   
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-responsive-collapse pull-right">
          <ul class="nav navbar-nav">

            <% if user_signed_in? %>
              <% if current_user.status == 'industry' %>
                <li><%= link_to "Dashboard", dashboard_industry_path %></li>
                <% if current_user.profile %>
                  <li><%= link_to "Perfil", profiles_path + "/" + current_user.profile.id.to_s %></li>
                <% end %>

                <li><%= link_to "Conta", '#' %></li>
                <li><%= link_to "Ajuda", '#' %></li>
                <li>
                  <%= link_to "Publicar", new_project_path, class: 'btn btn-primary modal-btn', data: { toggle: 'modal', target:'#modal'} %>
                </li>
                <li><%= link_to current_user.email, destroy_user_session_path, method: :get %></li>
              <% elsif current_user.status == 'provider' %>
                <li><%= link_to "Dashboard", dashboard_provider_path %></li>
                <% if current_user.profile %>
                  <li><%= link_to "Perfil", profiles_path + "/" + current_user.profile.id.to_s %></li>
                <% end %>
                <li><%= link_to "Conta", '#' %></li>
                <li><%= link_to "Ajuda", '#' %></li>
                <li>
                  <%= link_to "Buscar Projeto", projects_path, class: 'btn btn-primary modal-btn' %>
                </li>
                <li><%= link_to current_user.email, destroy_user_session_path, method: :get %></li>
              <% end %>

            <% else %>
                <li><%= link_to "Atuação", "#" %></li>
                <li><%= link_to "Vantagens", "#" %></li>
                <li><%= link_to "Quem somos", '#' %></li>
                <li><%= link_to "Contato", '#' %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
                <li><%= link_to "Cadastre-se", new_user_registration_path, class:"btn btn-primary" %></li>
            <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <main class="container">
      <div class="row">
        <div class="col-md-12">
          <%= bootstrap_flash %>
          <%= yield %>
          <%= modal_dialog id: "modal",
         header: { :show_close => false},
         body:   raw('<img style="margin-left:50%; position: relative; left:-110px;" src="/ajax-loader.gif" />')
         
%>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2018</p>
      </footer>

    </main> <!-- /container -->

  </body>
  <script type="text/javascript">
  $('.alert').delay(1000).fadeOut(1500, function(){ $(this).remove();});
  </script>
</html>
